@font-face {
    font-family: Corporate Logo Rounded;
    src: url(./assets/Corporate-Logo-Rounded.ttf);
}  
  .div{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    text-align: center;
    transition: all 1500ms ease;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#2d324d 0%, #464c6e 100%);
  }
  #txt{
 padding-top: inherit;
  }
  #div_white{
    background: white !important;

  }
  /* -------Header------- */
  .logo {
    width: 200px;
    height: 40px;
    margin: 15px;
  }
#div_flex{
        display: flex;
        flex-direction:row;
        vertical-align: baseline;

}
  #logobar{
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 5px;
    height: 40px;
    border-left: 5px solid white;
    border-radius: 1.5px;
  }
  .logo_text{
    font-family: "Corporate Logo Rounded";
    font-weight: bold;
    font-size: 20px;
    color: #fff; 
    text-align: center;
    margin-top: auto;  
    margin-bottom: auto; 
    margin-left: 10px;  
  }
  
  /* --------LOGIN--------- */
  
  .dialog_box_login{
    max-width: 300px;
    border-radius: 50px;
    background: linear-gradient(#454b6c 0%, #303551 100%);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
    padding: 20px;  
    margin: 100px auto;
    position:relative;  
  }
  .welcome{
    text-decoration: underline 3px solid white;
    

  }
.title,.welcome,.welcome_user{
    font-family: "Corporate Logo Rounded";
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color:  #fff;
    
}
#dash_title{
  font-size: 20px !important;
}
#hr{
  height: 3px;
  border-width:0;
  color:#fff;
  background-color: #fff;
}

.hr{
  height: 3px;
  border-width:0;
  color:#fff;
  background-color: #fff;
  margin-top: -15px;
}

.label{
    font-family: "Corporate Logo Rounded";
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    float: left;

}
.inp_box{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background :transparent;
  color: #fff;
  font-family: "Corporate Logo Rounded";
  font-size: 10px;
  border: none;
  border-bottom: 2px solid #575f8a;
  outline: 0;
  }
.small_font, .txt_hyperlink, input[type=submit]{
    font-family: "Corporate Logo Rounded";
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #fff;
    width:100%;
}


 input[type=submit] {
   background:  rgba(255, 255, 255, 0.15);
    border: 0;
    border-radius: 7cm;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 12pt;
    padding: 4px 0;
    outline: 0;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-color: #575f8a;
    color: white;
    cursor: pointer;
  }

.btn{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    font-family: "Corporate Logo Rounded";
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #fff;
    padding: 15px 32px;
    justify-content: center;
    align-content: center;
    margin: 4px 2px;
}
.txt_hyperlink,.resend_btn{
    color: #0AD7FF;
    text-decoration: underline #0AD7FF;
}
.welcome_user{
  color: #0AD7FF;
}

/* -------SIGNUP-------- */
.dialog_box_signup{
    max-width: 300px;
    border-radius: 50px;
    background: linear-gradient(#454b6c 0%, #303551 100%);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
    padding: 30px; 
    margin: auto;
    position:relative;  
    height: fit-content;
}

/* -------USER PROFILE-------- */
.dialog_box_profile{
  max-width: 700px;
  border-radius: 50px;
  background: linear-gradient(#454b6c 0%, #303551 100%);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
  padding: 30px; 
  margin: auto;
  position:relative;  
}

.inner_div{
  width: 33%;
   padding: 15px;
}

.inp_box:disabled{
  background-color: rgba(255, 255, 255, 0.03);

}

.UPLabel,.radio_opt{
  font-family: "Corporate Logo Rounded";
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.radio_opt{
  padding-bottom: 10px;
}

.rad_opt{
   padding-right: 10px;

}
.div_row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.inpt_box{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 75px 75px 0px;
  margin-top: 10px;
  height: 25px;
}
.sub_div1{
  width: "65%";
   float: 'left';
   padding: 15px;
}
.sub_div2{
  width: "35%";
   float: 'left';
   padding: 15px;
}
.select_opt{
  height: auto;
  background: transparent;
  line-height:30px;
  
}

option{
  background-color: #575f8a;
  color: white;
}

#sbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#sbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#sbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2d324d;
  height: 20px;
}

.two{
  grid-row: 1 / 5;
}


/* ----------Verification----------- */

/* use dialog_box_login */

/* use .small_font for timer line
use .txt_hyperlink for resend button */

.dash{
  max-width: 700px;
  padding: 30px; 
  margin: auto;
  position:relative;  
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 700px;
  padding: 30px;
  margin: auto;
  row-gap: 25px;
  column-gap: 0;
  align-items: center;
  justify-items: center;
 
}
#Lst_row{
grid-column-start: 2;
}
.db_btn{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(#454b6c 0%, #303551 100%);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
  justify-content: center;
  outline: none;
  border: none;
  opacity: 1;
  transition: 0.3s;
 
}
.btn_logo{
  
  width: 80px;
  height: 80px;
  padding-top: 20px;
}

.db_btn:hover{
  opacity: 0.7;
  cursor: pointer;
}


.dash_btn{
  padding:auto;
}
.label_li{
  /* display: flex;
  flex-direction: row; */
  font-family: "Corporate Logo Rounded";
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}
.width5p{
  margin-left:20px;
  width: 6%;
  text-align: left;
}
.width15p{
  width: 20%;
  text-align: left;
}
.width40p{
  width: 37%;
  text-align: left;
}
.row{
  background: linear-gradient(#454b6c 0%, #303551 100%);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
  width:100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 10px 0px 10px 0px;
}
.report_img{
width:20px;
height: 20px;
margin-left: 10px;
}

.section{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
